<div class="scrollable feedback-scroller">
	<div class="form_list">
		<div class="inner">
			<h3 style='padding-top: 40px'>Bitte geben Sie Ihre Nachricht
				ein.</h3>
			<textarea id="comment"></textarea>
			<ul class="radio_list quickpoll" data-pollid="<%= poll.get('id') %>">
				<li class='vote-option' data-option='works'><span>App
						funktioniert</span><input type="radio" name="ex2_a" id="ex2_a" /></li>
				<li class='vote-option' data-option='worksnot'><span>App
						funktioniert nicht</span><input type="radio" name="ex2_a" id="ex2_a" /></li>
				<li class='vote-option' data-option='notime'><span>Keine
						Zeit</span><input type="radio" name="ex2_a" id="ex2_a" /></li>
				<li class='vote-option' data-option='complic'><span>Zu
						Kompliziert</span><input type="radio" name="ex2_a" id="ex2_a" /></li>
				<li class='vote-option' data-option='other'><span>Anderes</span><input
					type="radio" name="ex2_a" id="ex2_a" /></li>
				<div class="scroll-filler">
					&nbsp;<br> <br>&nbsp;
				</div>
			</ul>
		</div>
	</div>
</div>
