<div class="inner_body">
	<div id="wrapper">
		<div id="scroller">
			<div class="mid_section field_area">
				<div class="inner_logo">
					<a href="#"><img src="img/logo.png" border="0" /></a>
				</div>
				<form>
					<h3>Bitte anmelden</h3>
					<input type="text" placeholder="Name" />
					<input type="text" placeholder="Vorname" />
					<input type="text" id="username" placeholder="E-Mail" />
					<div class="submit_btn">
						<a href="#"><span>Anmelden</span></a>
					</div>
					<div class="powerd_txt">
						powered by <span>shrebo</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>