<div class="alert" id="passworddialog">
	<!-- The top margin must be set to 50% of the alert's height using JavaScript. -->
	<div class="alert-content" style="margin-top: -85px;">
		<h3><%= view.title %></h3>
		<p>
			<%= view.getText() %>:
		</p>
		<input type="password" id="passwordtext" class="alert-text-input" placeholder="password">
		<div class="alert-buttons">
			<a href="#" class="alert-button left action-cancel">Cancel</a>
			<a href="#" class="alert-button right primary action-ok">OK</a>
		</div>
	</div>
</div>