<div class="inner_body">
	<div id="wrapper">
		<div class="scroller" id="signup-scroller">
			<div id="login_box">
				<div class="login_img_box">
					<img src="img/login_img.jpg" alt="" border="0" />
				</div>
				<div class="login_logo_box">
					<img src="img/logo_splash.png" alt="" border="0" />
				</div>
				<div class="login_field_box">
					<input type="text" id="name" placeholder="Name" class="only-customer" />
					<input type="text"
					placeholder="E-Mail" type="email" id="email" autocapitalize="off"  />
					<!-- <span class="checkbox_area">&nbsp;</span>  -->
				</div>
				<input type="button" value="Anmelden" class="btn_login action-signup"" /> <span
				class="powered_txt">powered by shrebo</span>
			</div>
		</div>
	</div>
</div>
