<div class="top_blue_box">
	<div class="date_time_txt">
		<p></p>
		<div class="red_img_box">
			<img src="img/sbb_logo.png" alt="" border="0" />
		</div>
	</div>
	<div class="button_box">
		<div class="inner">
			<ul>
				<li class="action-staffvote"><a href="#staffvote" class="btn_link action-staffvote"><i
						class="fa fa-check"></i></a></li>
				<li><a href="#staffservice" class="btn_link"><i
						class="fa fa-exchange"></i></a></li>
				<li><a href="#staffvote" class="btn_link"><img
						src="img/sigma_icon.png" alt="" /></a></li>
				<li><a href="#feedback" class="btn_link"><i
						class="fa fa-comment"></i></a></li>
			</ul>
		</div>
	</div>
</div>
