<div class="deep_blue_box">
	<div class="date_time_txt">
		<p>&nbsp;</p>
		<div class="red_img_box">
			<img src="img/sbb_logo.png" alt="" border="0" />
		</div>
	</div>
	<div class="button_box">
		<div class="inner">
			<ul>
				<li><a href="#search" class="btn_link"><i
						class="fa fa-rotate-right"></i></a></li>
				<li><a href="#favorites" class="btn_link"><i
						class="fa fa-star"></i></a></li>
				<li><a href="#customervote" class="btn_link"><i
						class="fa fa-thumbs-o-up"></i></a></li>
				<li><a href="#feedback" class="btn_link"><i
						class="fa fa-comment"></i></a></li>
			</ul>
		</div>
	</div>
</div>
